
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 8px 0 8px;
  width: 160px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;

}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 12px;
  margin: 8px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color:#756257;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
  outline: none;
}

.navigation-link:active {
  color:#756257;
  opacity: 0.3;
  box-shadow: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 12px;
  bottom: -8px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-user {
  max-width: 360px;
}

.navigation-user .navigation-link {
  min-width: 31px;
  min-height: 27px;
}

.navigation-link-icon {
  margin: 15px;
  padding: 3px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: black;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: #756257;
  opacity: 0.3;
}

.number-of-favorites {
  position: relative;
  top: -4px;
  left: 11px;
  padding: 3px;
  font-size: 10px;
  line-height: 13px;
  width: 19px;
  height: 13px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 50%;
}

.navigation-link:active .number-of-favorites {
  color: rgba(255, 255, 255, 0.3);
  background: #7DB550;
}

.popover {
  position: absolute;
  top: 63px;
  left: -158px;
  z-index: 1;
  width: 400px;
  padding: 15px;
  padding-right: 25px;
  padding-bottom: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  min-height: 60px;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: none;
}

.popover-cart {
  width: 400px;
}

.popover-open {
  display: block;
}

.popover-content {
  position: relative;
  height: 100%;
}

.triangle {
  position: absolute;
  top: -25px;
  left: 165px;
  fill: #FFFFFF;
}

.cart-items-list {
  padding: 0;
}

.cart-items {
  display: flex;
  justify-content: space-between;
}

.cart-item-link {
  display: block;
  height: 48px;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
  outline: none;
}

.cart-item-link:active {
  box-shadow: none;
  opacity: 0.3;
}

.cart-item {
  display: flex;
  flex-direction: row;
}

.cart-item-title {
  position: relative;
  top: -8px;
  margin: 0;
  padding-left: 17px;
  font-size: 18px;
  line-height: 40px;
  text-transform: none;
}

.cart-item-estate {
  position: relative;
  top: -25px;
  margin: 0;
  padding-left: 17px;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
}

.cart-item-image {
  border-radius: 50%;
  order: -1;
}

.cart-title {
  display: flex;
  flex-direction: column;
}

.basket-link {
  position: relative;
  width: 36px;
  height: 36px;
  top: 15px;
  border: none;
  background-color: transparent;
  opacity: 0.2;
}

.basket {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.basket-link:hover {
  opacity: 1;
}

.basket-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  opacity: 1;
}

.basket-link:active {
  border: none;
  opacity: 0.1;
}

.all_favorites {
  position: relative;
  left: -16px;
  top: 1px;
  padding: 22px 0;
  width: 400px;
  border-radius: 0px 0px 20px 20px;
}

.want-to-come {
  padding: 14px;
  margin: 0 10px;
}

.button_brown:hover {
  background-color: #615048;
}

.button_brown:focus {
  background-color: #615048;
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.button_brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.index-background {
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
}

.first-screen {
  text-align: center;
}

h1 {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.welcome {
  padding-top: 51px;
  padding-bottom: 26px;
}

.footer-background {
  margin-bottom: 63px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.first-screen-title {
  width: 720px;
  margin: 0 auto;
  padding-bottom: 23px;
}

.first-screen-description {
  line-height: 36px;
  margin: 0;
  padding-bottom: 79px;
}

.advantages {
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title {
  margin-top: 23px;
  margin-bottom: 20px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.number {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.special_cold_light {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.basic_white {
  width: 400px;
}

.special_blue_light {
  width: 400px;
  background: rgba(131, 179, 211, 0.2);
}

.icon-text {
  display: flex;
  flex-direction: column;
  padding-top: 184px;
  padding-bottom: 79px;
}

.icon-text > h3 {
  padding-bottom: 20px;
  margin: 0 auto;
}

.icon-text > p,
.real-town-cold-light > p {
  width: 250px;
  margin: 0 auto;
}

.advantages-item:nth-child(2) {
  background-image: url("../img/icon/housing.svg");
  background-repeat: no-repeat;
  background-position: 50% 89px;
}

.advantages-item:nth-child(3) {
  background-image: url("../img/icon/meal.svg");
  background-repeat: no-repeat;
  background-position: 50% 91px;
}

.advantages-item:nth-child(4) {
  background-image: url("../img/icon/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 50% 85px;
}

.special_cold {
  display: flex;
  width: 1200px;
  height: 384px;
  background: #83B3D3;
}

.devil-bridge {
  order: -1;
}

.real-town-cold,
.real-town-cold-light {
  display: flex;
  flex-direction: column;
  padding-top: 98px;
  padding-bottom: 77px;
  margin: 0 auto;
}

.real-town-cold > h3 {
  color: #FFFFFF;
  margin: 0 auto;
  padding-bottom: 25px;
}

.real-town-cold > .number {
  color: #FFFFFF;
  padding-bottom: 26px;
}

.real-town-cold > p {
  color: #FFFFFF;
  margin: 0 auto;
  width: 220px;
}

.real-town-cold-light > h3 {
  margin: 0 auto;
  padding-bottom: 25px;
}

.real-town-cold-light > .number {
  padding-bottom: 26px;
}

.hotel-search {
  text-align: center;
}

.hotel-search-title {
  padding-top: 91px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.hotel-search-description {
  margin: 0 240px;
  padding-bottom: 73px;
}

.search-sedona {
  padding-bottom: 91px;
}

.button_brown_big {
  padding: 13px 0 17px;
  width: 575px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.button_brown_big:hover {
  background-color: #615048;
}

.button_brown_big:focus {
  background-color: #615048;
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.button_brown_big:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.appointment {
  text-align: center;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
}

.appointment-title {
  color: #FFFFFF;
  padding-top: 94px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.appointment-description {
  color: #FFFFFF;
  width: 720px;
  padding-bottom: 26px;
  margin: 0 240px;
}

.subscribe {
  padding-bottom: 94px;
}

.appointment-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 800px;
  margin: 0 auto;
}

.appointment-form input[type="email"] {
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  padding:  0 22px 0 19px;
  color: #000000;
  border: none;
}

.appointment-form input[type="email"]:hover {
  background-color: #E6E6E6;
}

.appointment-form input[type="email"]:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

.appointment-form input[type="email"]:not(:placeholder-shown) {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  color: #000000;
}

.appointment-form input[type="email"]:invalid {
  background-color: #FFFFFF;
  border: 2px solid #FF5757;
  color: rgba(0, 0, 0, 0.6);
}

.appointment-form input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.button_blue_big {
  padding: 13px 0 17px;
  width: 200px;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

.button_blue_big:hover {
  background-color: #68A2CA;
}

.button_blue_big:focus {
  background-color: ##68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.button_blue_big:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  box-shadow: none;
}

.catalog-background {
  height: 408px;
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 5px;
  padding-left: 71px;
}

.breadcrumbs {
  display: flex;
  padding-left: 71px;
  padding-bottom: 45px;
  margin: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 5px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  padding: 5px;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  box-shadow: none;
}

.nav_link {
  padding: 0;
}

.nav_link:hover,
.nav_link:focus,
.nav_link:active {
  opacity: 0;
}

.home {
  fill: #FFFFFF;
}

.nav-link {
  transform: translateY(-1px);
  fill: #FFFFFF;
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  justify-content: space-evenly;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.infrastructure {
  width: 150px;
}

.type_of_housing {
  width: 145px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.control {
  position: relative;
  display: block;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

input[type="radio"] + label::before {
  content:"";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 19px;
  vertical-align: middle;
  border: 6px solid #ffffff;
  background: #ffffff;
  border-radius: 50%;
}

input[type="radio"]:checked + label::before {
  content:"";
  background: #3F5E72;
}

input[type="checkbox"] + label::before {
  content:"";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 19px;
  vertical-align: middle;
  background: #ffffff;
  border-radius: 4px;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

input[type="checkbox"]: + label:hover::before {
  background: rgba(255, 255, 255, 0.6);
}

input[type="checkbox"] + label:active::before {
  background: rgba(255, 255, 255, 0.3);
}

.cost_in_rubles {
  width: 287px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.catalog-filter-label {
  position: relative;
  display: flex;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  color: #FFFFFF;
}

.range-input {
  width: 144px;
  padding: 12px 19px;
  font-size: 18px;
  line-height: 23px;
  text-align: start;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  background: transparent;
  border-radius: 4px 0 0 4px;
  appearance: textfield;
}

.range-input:hover {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  background: transparent;
}

.range-input:focus {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  outline: none;
}

.range-input-max {
  border-radius:  0 4px 4px 0;
  border-left: 2px solid transparent;
  margin-left: -2px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-text {
  position: absolute;
  left: 110px;
  top: 10px;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 14px;
  background-color: #FFFFFF;
  opacity: 0.3;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  width: 196px;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.apply-reset {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.apply {
  height: 48px;
  background: #83B3D3;
  margin-bottom: 20px;
}

.apply:hover {
  background-color: #68A2CA;
}

.apply:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #FFFFFF;
  outline: none;
}

.apply:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  box-shadow: none;
}

.reset {
  position: relative;
  left: 30px;
  width: 100px;
  padding: 5px;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #FFFFFF;
  background: transparent;
  text-transform: none;
}

.reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.catalog-sorting-hotel {
  margin: 0;
  padding-top: 44px;
  padding-bottom: 42px;
  display: flex;
}

.sorting {
  line-height: 39px;
  margin: 0;
  margin-left: 71px;
  margin-right: 192px;
}

.mode-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mode-item {
  margin-right: 5px;
}

.mode-item-cheap {
  display: block;
  width: 287px;
  height: 48px;
  margin-right: 81px;
}

.cheap {
  position: relative;
  top: 7px;
  font-size: 18px;
  line-height: 23px;
  padding: 11px;
  padding-left: 21px;
  padding-right: 100px;
  color: #333333;
  text-decoration: none;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.cheap:hover {
  border: 2px solid #83B3D3;
}

.cheap:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.cheap:active {
  border: 2px solid #E6E6E6;
  opacity: 0.3;
}

.ones {
  fill: #000000;
  transform: translateX(80px) translateY(-1px);
}

.button_transparent {
  background: transparent;
  color: #000000;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.card-grid-toggle:hover,
.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.mode-title {
   fill: #000000;
}

.sideshow {
  fill: #000000;
}

.list {
  fill: #000000;
}

.catalog-sorting-list {
  display: grid;
  width: 1056px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.catalog-sorting-item {
  display: grid;
  grid-template-columns: 180px 187px 1fr 160px;
  grid-template-rows: 31px 1fr 37px;
  padding: 30px 0;
  border-top: 1px solid #E6E6E6;
}

.catalog-sorting-item:last-child {
  border-bottom: 1px solid #E6E6E6;
}

.catalog-sorting-title {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin: 0;
  margin-left: 27px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-transform: none;
}

.catalog-link {
  padding: 10px;
  text-decoration: none;
  color: #000000;
}

.catalog-link:hover {
  color: #756257;
}

.catalog-link:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
  outline: none;
}

.catalog-link:active {
  color: #756257;
  opacity: 0.3;
  box-shadow: none;
}

.catalog-sorting-link {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.catalog-sorting-image {
  display: block;
}

.catalog-sorting-link:hover {
  opacity: 0.6;
}

.catalog-sorting-link:focus {
  outline: none;
}

.catalog-sorting-link:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #83B3D3;
  content: '';
}

.catalog-sorting-link:active {
  opacity: 0.3;
  border: none;
}

.real-estate {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding-left: 37px;
  font-size: 18px;
  line-height: 23px;
}

.cost {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding-left: 8px;
  font-size: 18px;
  line-height: 23px;
}

.more-detailed {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding-left: 37px;
}

.favourites {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  padding-left: 8px;
}

.favorites {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  padding-left: 8px;
}

.more_detailed {
  width: 151px;
}

.button_blue {
  background: #83B3D3;
}

.button_blue:hover {
  background-color: #68A2CA;
}

.button_blue:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.button_blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  box-shadow: none;
}

.button_grenn {
  background: #7DB54F;
}

.button_grenn:hover {
  background-color: #6C9E42;
}

.button_grenn:focus {
  background-color: #6C9E42;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.button_grenn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6C9E42;
  box-shadow: none;
}

.button_rating {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  margin: 0;
  font-weight: normal;
  color: #333333;
  background: #F2F2F2;
}

.catalog-sorting-item:nth-child(1) {
  background-image: url("../img/stars-four.svg");
  background-repeat: no-repeat;
  background-position: 930px 34px;
}

.catalog-sorting-item:nth-child(2) {
  background-image: url("../img/stars-three.svg");
  background-repeat: no-repeat;
  background-position: 940px 34px;
}

.catalog-sorting-item:nth-child(3),
.catalog-sorting-item:nth-child(4){
  background-image: url("../img/stars-two.svg");
  background-repeat: no-repeat;
  background-position: 955px 34px;
}

.download-more {
  margin: 30px 288px;
}

.download_more {
  width: 625px;
  border-radius: 4px;
}

.pagination-hotels {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  padding-top: 31px;
  justify-content: space-between;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  text-align: center;
  padding-top: 15px;
  font-weight: 700;
  background: #83B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
}

.pagination-style:hover {
  background: #68A2CA;
}

.pagination-style:focus {
  background: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.pagination-style:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68A2CA;
  box-shadow: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.number-of-hotels {
  font-size: 18px;
  line-height: 23px;
}

.number-form select {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
}

.select-control {
  width: 160px;
  margin-right: auto;
  margin-left: 51px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 17px;
  background-image: url("../img/cheap-first.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}




  background-image: url("../img/cheap-first.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;

.appointment-catalog {
  text-align: center;
}

.appointment-catalog-title {
  padding-top: 94px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.appointment-catalog-description {
  width: 720px;
  padding-bottom: 26px;
  margin: 0 240px;
}

.footer-social {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 25px 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 5px;
  margin-bottom: 10px;
}

.footer-social-link {
  position: relative;
  display: block;
  padding: 20px;
}

.footer-social-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
  outline: none;
}

.footer-social-link:active {
  box-shadow: none;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:focus .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
  fill: #68A2CA;
  opacity: 0.3;
}

.footer-contacts-address-phone {
  display: block;
  padding: 15px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-address-phone:hover {
  color: #756257;
}

.footer-contacts-address-phone:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-contacts-address-phone:active {
  color: #756257;
  opacity: 0.3;
  box-shadow: none;
}

.htmlacademy-link {
  position: relative;
  display: block;
  padding: 15px;
  max-width: 240px;
  margin-left: auto;
  margin-right: 72px;
  width: 115px;
  height: 34px;
}

.htmlacademy-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
  outline: none;
}

.htmlacademy-link:active {
  box-shadow: none;
}

.htmlacademy-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.htmlacademy-link:hover .htmlacademy-icon {
  fill: #756257;
}

.htmlacademy-link:focus .htmlacademy-icon {
  fill:#756257;
}

.htmlacademy-link:active .htmlacademy-icon {
  fill:#756257;
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: transparent;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E5E5E5;
}

.modal-close-button:focus {
  background: #E6E6E6;
  box-shadow: inset 0 0 0 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none;
}

.modal-close-button:active {
  background: #E6E6E6;
  box-shadow: none;
  opacity: 0.3;
}

.close {
  position: absolute;
  top: 21px;
  right: 21px;
  fill: #000000;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  line-height: 40px;
}

.modal-form {
  display: grid;
  grid-template-columns: 155px 133px 56px 97px 133px;
  grid-template-rows: 50px 40px 50px 40px 50px 40px 60px;
}

.arrival-date {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}

.error-message {
  position: relative;
  top: -10px;
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  margin: 0;
  font-size: 16px;
  line-height: 40px;
  color: #FF5757;
}

.departure-date {
  grid-column: 1 / 6;
  grid-row: 3 / 4;
}

.arrival-date {
  display: grid;
  grid-template-columns: 155px auto;
  width: 575px;
  margin: 0 auto;
}

.arrival-date label  {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
}

.arrival-date input[type="text"] {
  width: 380px;
  height: 50px;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 0 19px;
  color: #000000;
  border: none;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 385px 18px;
}

.arrival-date input[type="text"]:hover {
  background-color: #E5E5E5;
}

.arrival-date input[type="text"]:focus {
  background-color: #E5E5E5;
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.arrival-date input[type="text"]:not(:placeholder-shown) {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  background: #FFFFFF;
  color: #000000;
}

.arrival-date input::placeholder {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  opacity: 0.6;
}

.success-message {
  position: relative;
  top: -10px;
  grid-column: 2 / 6;
  grid-row: 4 / 5;
  margin: 0;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
}

.number-adults {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.quantity {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  width: 133px;
  height: 50px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}

.number-children {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

.modal-info {
  position: relative;
  right: -10px;
  top: 5px;
  padding: 1px 15px;
  background-color: #83B3D3;
  border-radius: 50%;
}

.info {
  position: absolute;
  top: 10px;
  fill: #FFFFFF;
}

.triangle-modal {
  position: absolute;
  top: 40px;
  left: 5px;
  fill: "#333333";
  opacity: 0;
}

.modal-popover {
  position: absolute;
  top: 33px;
  left: -110px;
  width: 216px;
  padding: 15px 18px 22px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #333333;
  border-radius: 10px;
  opacity: 0;
}

.modal-info:hover {
  background: #68A2CA;
}

.modal-info:hover .triangle-modal {
  opacity: 1;
}

.modal-info:hover .modal-popover {
  opacity: 1;
}

.quantity-children {
  grid-column: 5 / 6;
  grid-row: 5 / 6;
  width: 133px;
  height: 50px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.quantity-link {
  padding: 0 15px;
  opacity: 0.3;
}

.quantity-link-minus {
  position: relative;
  top: -2px;
}

.quantity-link-plus {
  position: relative;
  top: -2px;
}

.quantity-link:hover {
  opacity: 1;
}

.quantity-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
  opacity: 1;
  border-radius: 4px;
}

.quantity-link:active {
  opacity: 0.2;
  box-shadow: none;
}

.minus,
.plus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.adults,
.quantity-adults {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
}

.button-modal {
  grid-column: 1 / 6;
  grid-row: 7 / 8;
  width: 575px;
  border-radius: 10px;

}
